---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v1/depth?limit=1000&symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-MBX-APIKEY:
      - GZ27gyIT2UKuTkCmdFz0KCQZeQnUi0o82849QVJJ6k8gUyiDpqN2XHDuOVFQpKZL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"lastUpdateId":178065225,"bids":[["6631.00000000","0.00004400",[]],["6630.03000000","2.00000000",[]],["6630.00000000","0.70234100",[]],["6627.85000000","0.20000000",[]],["6627.01000000","2.36065600",[]],["6627.00000000","0.02291600",[]],["6625.86000000","0.01780000",[]],["6625.00000000","0.35714500",[]],["6624.00000000","0.01840600",[]],["6623.00000000","0.02029100",[]],["6622.36000000","0.01087300",[]],["6622.00000000","0.04530300",[]],["6621.60000000","0.14225000",[]],["6620.51000000","0.00249500",[]],["6620.00000000","0.378[...]
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getorderbook?market=USDT-BTC&type=sell
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 14 Jun 2018 20:07:46 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"Quantity":2.16710882,"Rate":6613.00000000},{"Quantity":0.09859393,"Rate":6620.01000000},{"Quantity":0.00487500,"Rate":6626.22600000},{"Quantity":0.40000000,"Rate":6630.00000000},{"Quantity":9.03644128,"Rate":6638.99999000},{"Quantity":0.38143798,"Rate":6639.00000000},{"Quantity":0.30831271,"Rate":6640.00000000},{"Quantity":0.01217551,"Rate":6643.92000000},{"Quantity":0.43102315,"Rate":6644.00000000},{"Quantity":0.48087000,"Rate":6647.99900000},{"Quantity":0.40000000,"Rate":6648.00000000},{"Quantity":0.40000000,"Rate":6649.[...]
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrders/BTC_USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Iinfo:
      - 5-22169420-22127305 PNNN RT(1529006865973 68) q(0 0 0 1) r(0 0) U10
      X-CDN:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":null,"Data":{"Buy":[{"TradePairId":4909,"Label":"BTC/USDT","Price":6611.57485061,"Volume":0.00076988,"Total":5.09011925},{"TradePairId":4909,"Label":"BTC/USDT","Price":6611.57485060,"Volume":0.00349875,"Total":23.13224751},{"TradePairId":4909,"Label":"BTC/USDT","Price":6611.57485058,"Volume":0.01456521,"Total":96.29897613},{"TradePairId":4909,"Label":"BTC/USDT","Price":6610.25280000,"Volume":0.07968613,"Total":526.74546395},{"TradePairId":4909,"Label":"BTC/USDT","Price":6607.00000000,"Volume":0.10000000,"Total":660.70000000},{"TradePairId":4909,"Label":"BTC/USDT","Price":6606.47796000,"Volume":0.013921[...]
- request:
    method: get
    uri: https://api.kucoin.com/v1/open/orders-sell?limit=1000&symbol=BTC-USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      KC-API-KEY:
      - 5b1aafd491ed292d47219495
      KC-API-NONCE:
      - 1529006866
      KC-API-SIGNATURE:
      - f1bc3b766058d34bf6a4073958fc2c8dca2e01d18f7bc83cfeb9f8a5cfa2a4ca
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      KC-NODE:
      - localhost
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"OK","msg":"Operation succeeded.","timestamp":1529006867431,"data":[[6651.14,0.0043,28.599902],[6658.178098,0.3,1997.4534294],[6659.51,0.35537482,2366.62216754],[6660.0,1.006E-5,0.0669996],[6666.0,0.167608,1117.274928],[6669.999999,2.773,18495.90999723],[6670.0,1.006E-5,0.0671002],[6673.0,0.04,266.92],[6679.999712,0.09985335,667.02034924],[6680.0,1.006E-5,0.0672008],[6686.803256,0.5,3343.401628],[6690.0,1.009E-5,0.0675021],[6700.0,1.002E-5,0.067134],[6710.0,1.002E-5,0.0672342],[6718.919,6.4587E-4,4.33954821],[6718.91908,0.09544576,641.29233797],[6720.0,0.013095[...]
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=USDT_BTC&depth=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"asks":[["6638.60000000",0.86],["6639.20000000",0.09915835],["6639.79813807",2.49984926],["6639.99999999",2.15422749],["6640.00000000",3.81866118],["6641.49483129",0.1],["6641.49483130",0.08104962],["6642.80124524",0.08],["6642.80124525",0.4],["6643.85008850",0.08],["6643.85008851",1.834],["6644.40000001",0.24975003],["6645.00000000",2.79258252],["6646.57500000",0.00030166],["6647.25362603",2.242],["6651.04601312",1.282],["6652.59000000",0.00030139],["6654.76631710",2.17666],["6654.76631711",1.22],["66[...]
- request:
    method: get
    uri: https://api.binance.com/api/v1/depth?limit=1000&symbol=DASHBTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-MBX-APIKEY:
      - GZ27gyIT2UKuTkCmdFz0KCQZeQnUi0o82849QVJJ6k8gUyiDpqN2XHDuOVFQpKZL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - default-src 'self'
      X-WebKit-CSP:
      - default-src 'self'
    body:
      enco[...]
- request:
    method: get
    uri: https://bittrex.com/api/v1.1/public/getorderbook?market=BTC-DASH&type=sell
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 14 Jun 2018 20:07:48 GMT
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"","result":[{"Quantity":0.75214786,"Rate":0.04057599},{"Quan[...]
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrders/DASH_BTC?orderCount=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Iinfo:
      - 5-22169420-22127305 SNNN RT(1529006865973 2406) q(0 0 0 -1) r(3 3) U10
      X-CDN:
      - Incapsula
    body:
      encoding: UTF-8
   [...]
- request:
    method: get
    uri: https://api.kucoin.com/v1/open/orders-sell?limit=1000&symbol=DASH-BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      KC-API-KEY:
      - 5b1aafd491ed292d47219495
      KC-API-NONCE:
      - 1529006869
      KC-API-SIGNATURE:
      - 4267bc9033caf510163e5243003387a64e4b0d8bfa36de10648dbe24238e0870
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      [...]
- request:
    method: get
    uri: https://poloniex.com/public?command=returnOrderBook&currencyPair=BTC_DASH&depth=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"asks":[["0.04063594",0.95694348],["0.04064000",9],["0.04064999",5.325],["0.04065000",1.32144871],["0.04066800",0.37674455],["0.04067702",0.0529],["0.[...]
