<div>
  <div style="margin-bottom: 10px;">Email: <%= @user.email %></div>
  <div style="margin-bottom: 10px;">Username: <%= @user.first %> <%= @user.last %></div>
  <div style="margin-bottom: 10px;"><%= link_to "View Verifications", 'https://nodebuckshq.com/verifications', target: :_blank %></div>
</div>
